body {
	background-color: #191919;
}

h1, h2, p {
	color: #FFFFFF;
	font-family: Roboto;
}

p {
	font-weight: normal;
	font-size: 12px;
}

body {
	text-align: center;
}

h1 {
	font-weight: bold;
}

#p1 {
	font-weight: normal;
	font-size: 12px;
	display: inline-block;
	margin: 75px

}

.hours {font-size: 14px;
		font-weight: bold;
}

