@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	color: #000;
	background: #FFF
	margin: 1.5em;
	text-align: center;
}

p {
	font-weight: normal;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
	font-size: 50px
}

#slogan {
	font-size: 24px;
	font-weight: bold;
}

img {
	max-width: 600px;
	max-height: 600px;
	object-fit: contain;
}

.contact {
	font-size: 12px;
}