@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	color: #000;
	background: #FFF
	margin: 1.5em;
	text-align: center;
}

p, article, footer {
	font-weight: normal;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
	font-size: 50px
}

img {
	max-width: 600px;
	max-height: 600px;
	object-fit: contain;
}

nav {
	background: white;
	padding: 1em;
	font-weight: bold;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 1.5em;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 1.5em;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 1.5em;
}

.description {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 1.5em;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 1.5em;
}

.wrapper {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 1.5em;
}